<h1>Forgot Password</h1>
<form action="/users/reset-password-link" method="POST">
    <input type="email" id="email" name="email" placeholder="Your Email" required="true">
    <input type="submit" value="Send Link">
   </form>


   