<h1>social media app / <%= title %>
</h1>

<section id="feed-posts">
        <h4>Posts</h4>
        <form action="/posts/create" method="POST">
                <textarea cols="30" rows="3" name="content" required="true" placeholder="Type here..."></textarea>
                <input type="submit" value="Post">
        </form>
</section>