<h1>reset your password</h1>
<form action="/users/reset-password?user_id=<%= locals.userId %>" method="post">
    <input type="password" name="password" id="password" placeholder="your password" required="true">
    <input type="password" name="confirmPassword" id="confirm-password" placeholder="Re-enter your password" required="true">
    <input type="submit" value="Reset Password">
</form>
