<h1>Sign in</h1>
<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Your Email" required="true">
    <input type="password" name="password" placeholder="Your Password" required="true">
    <input type="submit" value="SignIn">
   </form>

   <p><a href="/users/auth/google">google SignIn/SignUP</a></p>

   