<h1>Sign up</h1>
<form action="usres/create" method="POST">
 <input type="text" name="name" placeholder="Your Name" required="true">
 <input type="email" name="email" placeholder="Your Email" required="true">
 <input type="password" name="password" placeholder="Your Password" required="true">
 <input type="password" name="confirm_password" placeholder="Confirm Password" required="true">
 <input type="submit" value="SignUp">
</form>